test.json
libwinpthread-1.dll
libPocoNetSSL.dll
libcrypto-1_1-x64.dll
libexpat-1.dll
libPocoNet.dll
libgcc_s_seh-1.dll
libpcre-1.dll
libPocoCrypto.dll
libPocoFoundation.dll
libPocoJSON.dll
libPocoXML.dll
libssl-1_1-x64.dll
libstdc++-6.dll
libPocoUtil.dll
.vscode/settings.json
.vscode/c_cpp_properties.json
settings.json
zlib1.dll
output.txt
.vscode/launch.json
.vscode/tasks.json
testfolder/1.png
testfolder/fest.png
