test.json
libwinpthread-1.dll
libPocoNetSSL.dll
libcrypto-1_1-x64.dll
libexpat-1.dll
libPocoNet.dll
libgcc_s_seh-1.dll
libpcre-1.dll
libPocoCrypto.dll
libPocoFoundation.dll
libPocoJSON.dll
libPocoXML.dll
libssl-1_1-x64.dll
libstdc++-6.dll
libPocoUtil.dll
.vscode/settings.json
.vscode/c_cpp_properties.json
settings.json
zlib1.dll
output.txt
.vscode/launch.json
.vscode/tasks.json
testfolder/1.png
testfolder/fest.png
.gitignore
bin/dropper.exe
dropper.exe
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.15.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/CMakeDirectoryInformation.cmake
dropper.exe
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.2/CMakeCCompiler.cmake
build/CMakeFiles/3.15.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.15.2/CMakeSystem.cmake
build/CMakeFiles/3.15.2/CompilerIdC/a.exe
build/CMakeFiles/3.15.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.15.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/dropper.dir/build.make
build/CMakeFiles/dropper.dir/cmake_clean.cmake
build/CMakeFiles/dropper.dir/CXX.includecache
build/CMakeFiles/dropper.dir/depend.internal
build/CMakeFiles/dropper.dir/depend.make
build/CMakeFiles/dropper.dir/DependInfo.cmake
build/CMakeFiles/dropper.dir/flags.make
build/CMakeFiles/dropper.dir/includes_CXX.rsp
build/CMakeFiles/dropper.dir/link.txt
build/CMakeFiles/dropper.dir/linklibs.rsp
build/CMakeFiles/dropper.dir/objects.a
build/CMakeFiles/dropper.dir/objects1.rsp
build/CMakeFiles/dropper.dir/progress.make
build/CMakeFiles/dropper.dir/src/dropper.cpp.obj
build/CMakeFiles/dropper.dir/src/DropperApp.cpp.obj
dropper.exe
build/install_manifest.txt
